.pagination-container {
  display: flex;
  flex-wrap: wrap;
  column-gap: 0.625rem;
}

.paginate-buttons {
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 1.25rem;
  cursor: pointer;
  background-color: rgb(242 242 242);
  border: 1px solid rgb(217 217 217);
  color: black;
}

.paginate-buttons:hover {
  background-color: #d8d8d8;
}

.active-page {
  background-color: #3498db;
  border: 1px solid #3498db;
  color: white;
}

.active-page:hover {
  background-color: #2988c8;
}