@forward "components";

:root {
  --clr-text-primary: #000;
  --clr-text-secondary: #efefdc;
  --clr-background: #ebf0ef;
  --clr-white: #ffff;
  --clr-blue: #1f6d80;
  --clr-background-secondary: #8ba8a8;
  --primary-btn: #3d4c51;
  --secondary-btn: #dcdee5;
  --clr-500: #384447;
  --clr-600: #2e3638;
  --clr-700: #1f2223;
  --clr-800: #0f1010;
  --clr-error: #ee0a0a;
  --fs-300: clamp(1.13rem, calc(1.08rem + 0.22vw), 1.25rem);
  --fs-400: clamp(1.35rem, calc(1.20rem + 0.73vw), 1.77rem);
  --fs-500: clamp(1.62rem, calc(1.31rem + 1.53vw), 2.50rem);
  --fs-600: clamp(1.94rem, calc(1.39rem + 2.77vw), 3.53rem);
  --fs-700: clamp(2.33rem, calc(1.41rem + 4.63vw), 5.00rem);
  --fs-800: clamp(2.80rem, calc(1.32rem + 7.42vw), 7.07rem);
}


*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html {
  color-scheme: light dark;
}

body {
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: var(--fs-300);
  line-height: 1.6;
  background-color: var(--clr-background);
  color: var(--clr-text-primary);
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  max-width: 90rem;
  margin-inline: auto;
}

.navigation {
  display: flex;
  align-items: center;
  gap: 1rem;
}

a {
  color: inherit;
  text-decoration: none;

  &:hover {
    color: var(--clr-blue);
    cursor: pointer;
  }
}

h1 {
  font-size: var(--fs-700);
}

h2 {
  font-size: var(--fs-600);
}

h3 {
  font-size: var(--fs-500);
}

h4 {
  font-size: var(--fs-400);
}

h5 {
  font-size: var(--fs-300);
}

img {
  display: block;
  object-fit: cover;
  object-position: bottom;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;
  padding-inline: 1rem;
  font-size: var(--fs-300);

  > img {
    max-width: 3.125rem;
  }
}

main {
  margin-top: 2rem;
}

button {
  border: none;
  background-color: transparent;
  font-family: inherit;
  padding: 0;
  cursor: pointer;

  &:focus {
    outline-color: transparent;
  }
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  margin-top: auto;
  color: var(--clr-text-secondary);
  background-color: var(--clr-600);
  padding: 2rem 1.5rem;

  &-info {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  appearance: none;
  margin: 0;
}