@use 'colors' as color;
@use 'fonts' as font;
@forward "components";


*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html {
  color-scheme: light dark;
}

body {
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: font.$fs-300;
  line-height: 1.6;
  background-color: color.$clr-background;
  color: color.$clr-text-primary;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  max-width: 1440px;
  margin-inline: auto;
}

h1 {
  font-size: font.$fs-700;
}

h2 {
  font-size: font.$fs-600;
}

h3 {
  font-size: font.$fs-500;
}

h4{
  font-size: font.$fs-400;
}

h5{
  font-size: font.$fs-300;
}

img {
  object-fit: cover;
  object-position: bottom;
  display: block;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;
  font-size: font.$fs-300;

  > img {
    max-width: 50px;
  }
}

main {
  margin-top: 2rem;
}

button {
  border: none;
  background-color: transparent;
  font-family: inherit;
  padding: 0;
  cursor: pointer;

  &:focus {
    outline-color: transparent;
  }
}

footer {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-top: auto;
  color: color.$clr-text-secondary;
  background-color: color.$clr-600;
  padding: 2rem 1.5rem;
}

.footer-info {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}

.footer-logos {
  display: flex;
  gap: 1.5rem;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  appearance: none;
  margin: 0;
}