$clr-text-primary: #000;
$clr-text-secondary: #efefdc;
$clr-background: #ebf0ef;
$clr-white: #ffff;
$clr-blue: #1f6d80;
$clr-background-secondary: #8ba8a8;
$primary-btn: #3d4c51;
$secondary-btn: #dcdee5;
$clr-500: #384447;
$clr-600: #2e3638;
$clr-700: #1f2223;
$clr-800: #0f1010;