$fs-300: clamp(1.13rem, calc(1.08rem + 0.22vw), 1.25rem);
$fs-400: clamp(1.35rem, calc(1.20rem + 0.73vw), 1.77rem);
$fs-500: clamp(1.62rem, calc(1.31rem + 1.53vw), 2.50rem);
$fs-600: clamp(1.94rem, calc(1.39rem + 2.77vw), 3.53rem);
$fs-700: clamp(2.33rem, calc(1.41rem + 4.63vw), 5.00rem);
$fs-800: clamp(2.80rem, calc(1.32rem + 7.42vw), 7.07rem);