.products {
  display: flex;
  gap: 1rem;
}

.products-container {
  display: flex;
  flex-flow: column;
  gap: 2rem;
  width: 100%;
}

.products-pagination {
  align-self: flex-end;
}

.products-view {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1rem;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
  height: max-content;
  margin-bottom: 2rem;
}

.products-empty {
  text-align: center;
}

.products-suspense-view {
  opacity: 0.5;
  pointer-events: none;
  height: 100%;
}

@media (width < 958px) {
  .products {
    flex-direction: column;
  }
}