.price {
  &-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  &-input {
    display: flex;
    justify-content: space-between;
  }

  &-error {
    color: var(--clr-error);
  }
}
