@use '../colors' as color;

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  gap: 2rem;
  margin-bottom: auto;
  background-color: color.$clr-background-secondary;
  border-radius: 8px;

  &-image {
    width: 50%;
  }

  &-items {
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;
    row-gap: 2rem;
    align-items: center;
  }
}

.item {
  &-header {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  &-icon {
    padding: 2rem;
    background-color: color.$clr-background;
    border-radius: 6px;
  }
}