@use '../colors' as color;
@use '../fonts' as font;

.products {
  display: flex;
  gap: 1rem;
}

.products-filters {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 2rem;
  min-width: 20rem;
  background: color.$clr-white;
  height: max-content;
}

.products-container {
  display: flex;
  flex-flow: column;
  gap: 2rem;
  width: 100%;
}

.products-view {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1rem;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
  height: max-content;
}

.products-empty {
  text-align: center;
}

.products-suspense-view {
  opacity: 0.5;
  pointer-events: none;
  height: 100%;
}