@use '../colors' as color;
@use '../fonts' as font;

.products {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-auto-flow: column;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1rem;
  border-radius: 1rem;
  background: color.$clr-background-secondary;
  padding-top: 0.625rem;
  height: 100%;
}

.product-image {
  height: 123px;
  aspect-ratio: 1/1;
}

.product-btn {
  margin-top: auto;
  width: 100%;
  background: color.$secondary-btn;
  padding-block: 1rem;
  border-bottom-right-radius: 1rem;
  border-bottom-left-radius: 1rem;
  font-size: font.$fs-300;

  &:hover {
    color: color.$clr-text-secondary;
    background: color.$clr-500;
  }
}