@use '../colors' as color;
@use '../fonts' as font;

.products {
  display: flex;
  gap: 1rem;
}

.products-filters {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  min-width: 20rem;
  background: color.$clr-white;
}

.products-view {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1rem;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
  width: 100%;
}

.products-empty {
  text-align: center;
}

.products-suspense-view {
  opacity: 0.5;
  pointer-events: none;
}