.category-filter {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 0;
  list-style-type: none;
}

.filter {
  &:hover {
    color: var(--clr-blue);
    cursor: pointer;
  }

  &-active {
    color: var(--clr-blue);
  }
}

@media (width < 958px) {
  .category-filter {
    flex-flow: row wrap;
  }
}