.product-details {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.product-main-image{
  width: 100%;
}

.product-details-container {
  padding: 2rem;
}

.product-details-desc{
  display: flex;
  flex-wrap: wrap;
  inline-size: 300px;
  overflow-wrap: break-word;
}

.product-images {
  display: flex;
  gap: 1rem;
  margin-top: 3rem;
  flex-wrap: wrap;
}

.image-item {
  max-width: 6rem;
  aspect-ratio: 1/1;

  &:hover {
    cursor: pointer;
  }
}

.image-active {
  border: 6px solid var(--clr-500);
}